@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
:root { /* This is where we define our CSS variables for consistent theming across the website */
    --bg-color: #f6efd2;
    --primary-teal: #5ab5a6;
    --accent-orange: #de6631;
    --text-color: black;
    --white: white;
    --font-headings-playfair: 'Playfair Display', serif;
    --font-headings-cinzel: 'Cinzel', serif;
    --font-body: 'Source Sans 3', sans-serif;
}

/* Ensure the screen doesn't allow scrolling */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; /* Prevents scrolling */
}

body {
    display: flex;
    flex-direction: column;
}

/* This is the key: it stretches to fill the space between nav and footer */
main { 
    display: grid;
    /* Define two equal columns */
    grid-template-columns: 1fr 1fr; 
    gap: 40px;
    max-width: 1900px;
    margin: 40px auto;
    background-color: #e5764630;
    backdrop-filter: blur(20px);
    padding: 10px;
    border-radius: 12px;
    align-items: start;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border: 0.5px solid var(--accent-orange);
    font-size: larger;
}

.side-image {
    width: 500px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    object-fit: cover;
}

/* Make sure the form doesn't get too tall */
form {
    max-height: 100%;
}